Repository Candy-Doc/candy-doc-components-library, pull requests merged in 2023-06, with the labels that each got.

#52 :bug: fix: sidebar collapse trigger
  src/components/Logos/LogoMark.ts
  src/components/Sidebar/SideBar.ts
  src/stories/Sidebar/Sidebar.stories.ts
Labels: Bug

#54 🐛 style: add missing cursor pointer css on hover
  src/components/Button/ButtonStyle.ts
  src/components/Checkbox/CheckboxStyle.ts
  src/components/Sidebar/Element/ElementStyle.ts
Labels: Bug, Ergonomics

#58 :lipstick: style: Add icon slot in button component
  src/components/Button/Button.ts
  src/components/Button/ButtonStyle.ts
  src/stories/Button/Button.stories.ts
  src/stories/Button/ButtonMeta.ts
Labels: Enhancement

#61 :bug: fix: reopen sidebar when clicking children
  src/components/Accordion/Accordion.ts
  src/components/Button/ButtonStyle.ts
  src/components/Sidebar/Element/Element.ts
  src/components/Sidebar/SideBar.ts
  src/stories/Button/Button.stories.ts
  src/stories/Button/ButtonMeta.ts
  src/stories/Sidebar/Element/Element.stories.ts
Labels: Bug

#66 :bug: fix(floating button): fix style
  package.json
  src/components/FloatingButton/FloatingButton.ts
  src/components/FloatingButton/FloatingButtonStyle.css
  src/components/FloatingButton/FloatingButtons.ts
  src/components/FloatingButton/index.ts
  src/stories/FloatingButton/FloatingButton.stories.ts
  src/stories/FloatingButton/FloatingButtonMeta.ts
Labels: Bug

#68 :bug: fix: css file to ts
  src/components/FloatingButton/FloatingButton.ts
  src/components/FloatingButton/FloatingButtonStyle.css
  src/components/FloatingButton/FloatingButtonStyle.ts
Labels: Bug
